{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
            <h3>Paiement - Ticket Louvre</h3>
            <p>Nombre de ticket : {{ ticket.nbVisitor }} - Prix : {{ (ticket.price)/100  }} € <p>
            <div>
                {% for visitor in ticket.visitors %}
                    <p>{{ visitor.firstName | capitalize }} {{ visitor.lastName | capitalize}} - Tarif : {{ visitor.rate.name | capitalize}}<p>
                {% endfor %} 
            </div>
    </div>
{% endblock %}
